@import url(//fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
/*********************************************
 * GLOBAL STYLES
 *********************************************/
/* line 7, ../bower_components/reveal.js/css/theme/template/theme.scss */
body {
  background: #002259;
  background: -moz-radial-gradient(center, circle cover, #002c72 0%, #002259 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #002c72), color-stop(100%, #002259));
  background: -webkit-radial-gradient(center, circle cover, #002c72 0%, #002259 100%);
  background: -o-radial-gradient(center, circle cover, #002c72 0%, #002259 100%);
  background: -ms-radial-gradient(center, circle cover, #002c72 0%, #002259 100%);
  background: radial-gradient(center, circle cover, #002c72 0%, #002259 100%);
  background-color: #002868;
}

/* line 12, ../bower_components/reveal.js/css/theme/template/theme.scss */
.reveal {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #eeeeee;
}

/* line 20, ../bower_components/reveal.js/css/theme/template/theme.scss */
::selection {
  color: white;
  background: #cc5500;
  text-shadow: none;
}

/*********************************************
 * HEADERS
 *********************************************/
/* line 35, ../bower_components/reveal.js/css/theme/template/theme.scss */
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #eeeeee;
  font-family: "News Cycle", sans-serif;
  line-height: 0.9em;
  letter-spacing: -0.03em;
  text-transform: none;
  text-shadow: none;
}

/* line 47, ../bower_components/reveal.js/css/theme/template/theme.scss */
.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

/*********************************************
 * LINKS
 *********************************************/
/* line 56, ../bower_components/reveal.js/css/theme/template/theme.scss */
.reveal a:not(.image) {
  color: #cc5500;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease;
}

/* line 66, ../bower_components/reveal.js/css/theme/template/theme.scss */
.reveal a:not(.image):hover {
  color: #ff8833;
  text-shadow: none;
  border: none;
}

/* line 73, ../bower_components/reveal.js/css/theme/template/theme.scss */
.reveal .roll span:after {
  color: #fff;
  background: #803500;
}

/*********************************************
 * IMAGES
 *********************************************/
/* line 83, ../bower_components/reveal.js/css/theme/template/theme.scss */
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #eeeeee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

/* line 97, ../bower_components/reveal.js/css/theme/template/theme.scss */
.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #cc5500;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
/* line 110, ../bower_components/reveal.js/css/theme/template/theme.scss */
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #cc5500;
}

/* line 115, ../bower_components/reveal.js/css/theme/template/theme.scss */
.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #cc5500;
}

/* line 120, ../bower_components/reveal.js/css/theme/template/theme.scss */
.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #cc5500;
}

/* line 125, ../bower_components/reveal.js/css/theme/template/theme.scss */
.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #cc5500;
}

/* line 129, ../bower_components/reveal.js/css/theme/template/theme.scss */
.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #ff8833;
}

/* line 133, ../bower_components/reveal.js/css/theme/template/theme.scss */
.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #ff8833;
}

/* line 137, ../bower_components/reveal.js/css/theme/template/theme.scss */
.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #ff8833;
}

/* line 141, ../bower_components/reveal.js/css/theme/template/theme.scss */
.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #ff8833;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
/* line 150, ../bower_components/reveal.js/css/theme/template/theme.scss */
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
}

/* line 153, ../bower_components/reveal.js/css/theme/template/theme.scss */
.reveal .progress span {
  background: #cc5500;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

/*********************************************
 * SLIDE NUMBER
 *********************************************/
/* line 166, ../bower_components/reveal.js/css/theme/template/theme.scss */
.reveal .slide-number {
  color: #cc5500;
}

/* line 36, source/tacc.scss */
.reveal .high-visibility-text h1, .reveal .high-visibility-text h2, .reveal .high-visibility-text h3, .reveal .high-visibility-text h4, .reveal .high-visibility-text h5, .reveal .high-visibility-text h6, .reveal .high-visibility-text p {
  text-shadow: 0 0 6px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}

/* line 47, source/tacc.scss */
.reveal .tacc-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 0 0 215px;
  margin: .5em;
  background-image: url(../images/tacc-logo-white.png);
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 50px;
  z-index: 10;
}

/* line 61, source/tacc.scss */
.reveal .tacc-footer-header,
.reveal .tacc-footer-subheader {
  position: absolute;
  white-space: nowrap;
  padding-right: 12px;
  font-family: Lado, sans-serif;
  margin: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform-origin 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985), -webkit-transform 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985), visibility 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985), opacity 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: -moz-transform-origin 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985), -moz-transform 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985), visibility 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985), opacity 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: -o-transform-origin 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985), -o-transform 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985), visibility 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985), opacity 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: transform-origin 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985), transform 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985), visibility 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985), opacity 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

/* line 76, source/tacc.scss */
.reveal .tacc-footer-header {
  font-size: 1em;
  line-height: 1em;
  text-transform: uppercase;
  top: 0;
}

/* line 83, source/tacc.scss */
.reveal .tacc-footer-subheader {
  font-size: .7em;
  color: #aaa;
  bottom: 0;
}

/* line 90, source/tacc.scss */
.reveal.hide-wordmark .tacc-footer .tacc-footer-header,
.reveal.hide-wordmark .tacc-footer .tacc-footer-subheader {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0);
}

/* line 95, source/tacc.scss */
.reveal .controls div.navigate-left {
  border-right-color: #eee;
}
/* line 97, source/tacc.scss */
.reveal .controls div.navigate-left.enabled {
  border-right-color: #ccc;
}

/* line 102, source/tacc.scss */
.reveal .controls div.navigate-down {
  border-top-color: #eee;
}
/* line 104, source/tacc.scss */
.reveal .controls div.navigate-down.enabled {
  border-top-color: #ccc;
}

/* line 109, source/tacc.scss */
.reveal .controls div.navigate-right {
  border-left-color: #eee;
}
/* line 111, source/tacc.scss */
.reveal .controls div.navigate-right.enabled {
  border-left-color: #ccc;
}

/* line 116, source/tacc.scss */
.reveal .controls div.navigate-up {
  border-bottom-color: #eee;
}
/* line 118, source/tacc.scss */
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #ccc;
}

/* line 124, source/tacc.scss */
.print-pdf .reveal .tacc-footer {
  position: absolute;
}
/* line 129, source/tacc.scss */
.print-pdf .reveal .tacc-footer .tacc-footer-header,
.print-pdf .reveal .tacc-footer .tacc-footer-subheader {
  display: none;
}
/* line 136, source/tacc.scss */
.print-pdf .reveal .slides > section:first-child .tacc-footer .tacc-footer-header,
.print-pdf .reveal .slides > section:first-child .tacc-footer .tacc-footer-subheader,
.print-pdf .reveal .slides > section:last-child .tacc-footer .tacc-footer-header,
.print-pdf .reveal .slides > section:last-child .tacc-footer .tacc-footer-subheader {
  display: block;
}
