<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">

        <title>Project Management and Automation: Using Maven and Grunt to accelerate development</title>

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="bower_components/reveal.js/css/reveal.min.css">

        <link rel="stylesheet" href="css/tacc.css" id="theme">


        <!-- For syntax highlighting -->
        <link rel="stylesheet" href="bower_components/reveal.js/lib/css/zenburn.css" id="highlight-theme">

        <!-- If the query includes 'print-pdf', use the PDF print sheet -->
        <script>
  	      if( window.location.search.match( /print-pdf/gi ) ) {
  				  var link = document.createElement( 'link' );
  			    link.rel = 'stylesheet';
  			    link.type = 'text/css';
  			    link.href = 'bower_components/reveal.js/css/print/pdf.css';
  			    document.getElementsByTagName( 'head' )[0].appendChild( link );
          }
        </script>

        <!--[if lt IE 9]>
        <script src="lib/js/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>

        <div class="reveal">

            <div class="slides">

                <% _.forEach(slides, function(slide) { %>
                    <% if (!_.isArray(slide)) { %>
                        <%= section(slide) %>
                    <% } %>
                    <% if (_.isArray(slide)) { %>
                        <section>
                            <% _.forEach(slide, function(verticalslide) { %>
                                <%= section(verticalslide) %>
                            <% }); %>
                        </section>
                    <% } %>
                <% }); %>
            </div>

            <div class="tacc-footer">
                <h1 class="tacc-footer-header">Texas Advanced Computing Center</h1>
                <h2 class="tacc-footer-subheader"><em>Powering Discoveries that Change the World</em></h2>
            </div>

        </div>

        <script src="bower_components/reveal.js/lib/js/head.min.js"></script>
        <script src="bower_components/reveal.js/js/reveal.min.js"></script>
        <script>
            // Configure Reveal
            // Full list of configuration options available here:
            // https://github.com/hakimel/reveal.js#configuration
            Reveal.initialize({
                controls: true,
                progress: true,
                history: true,
                center: true,

                // parallaxBackgroundImage: 'images/fin-bg.jpg',
                // parallaxBackgroundSize: '1800px 1012px',

                theme: 'tacc', // available themes are in /css/theme
                transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

                multiplex: {
                    secret: '13953306462645393854',
                    id: 'edc35418959a9c67',
                    url: 'https://mrhanlon.com:1948'
                },

                // Optional libraries used to extend on reveal.js
                dependencies: [
                    { src: 'bower_components/reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
                    { src: 'bower_components/reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: 'bower_components/reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: 'bower_components/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
                    { src: 'bower_components/reveal.js/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
                    { src: 'bower_components/reveal.js/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } },
                    // { src: 'bower_components/reveal.js/plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
                    //{ src: 'bower_components/reveal.js/plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }

                    // multiplexing
                    { src: '//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js', async: true },
                    { src: 'bower_components/reveal.js/plugin/multiplex/master.js', async: true },
                    { src: 'bower_components/reveal.js/plugin/multiplex/client.js', async: true },

                    { src: 'js/loadhtmlslides.js', condition: function() { return !!document.querySelector( '[data-html]' ); } }
                ]
            });
        </script>
        <script type="text/javascript">
            var TACC = (function() {
              function onWindowResize(e) {
                var zoom = document.querySelector('.reveal > .slides').style.zoom;
                // document.querySelectorAll('.tacc-footer').style.zoom = zoom;
              }
              window.addEventListener( 'resize', onWindowResize, false );
              setTimeout(onWindowResize,1000);
            })();
            function toggleTaccWordmark() {
                /* show on first, last slide; allow for custom show via classname */
                if (Reveal.isFirstSlide() || Reveal.isLastSlide() || Reveal.getCurrentSlide().classList.contains('show-wordmark')) {
                    document.querySelector('.reveal').classList.remove('hide-wordmark')
                } else {
                    document.querySelector('.reveal').classList.add('hide-wordmark')
                }
            }
            Reveal.addEventListener( 'ready', toggleTaccWordmark );
            Reveal.addEventListener( 'slidechanged', toggleTaccWordmark );

            Reveal.addEventListener( 'ready', function() {
              // footer for pdf
              if( window.location.search.match( /print-pdf/gi ) ) {
                var footer = document.querySelector('.tacc-footer');
                var hslides = document.querySelectorAll('.reveal .slides > section'), vslides;
                for (var i = 0; i < hslides.length; i++) {
                  vslides = hslides[i].querySelectorAll('section');
                  if (vslides.length > 0) {
                    for (var j = 0; j < vslides.length; j++) {
                      vslides[j].appendChild(footer.cloneNode(true));
                    }
                  } else {
                      hslides[i].appendChild(footer.cloneNode(true));
                  }
                };
                footer.remove();
              }
            });
        </script>

    </body>

</html>
