@import "compass/css3";

// Default mixins and settings -----------------
@import "../../bower_components/reveal.js/css/theme/template/mixins";
@import "../../bower_components/reveal.js/css/theme/template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(//fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #002868;

$mainFont: 'Lato', sans-serif;
$linkColor: #cc5500;
$linkColorHover: lighten( $linkColor, 20% );
$headingFont: 'News Cycle', sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: -0.03em;
$headingTextTransform: none;
$selectionBackgroundColor: #cc5500;
$mainFontSize: 30px;

@mixin bodyBackground() {
  @include radial-gradient( darken($backgroundColor, 3%), lighten($backgroundColor, 2%) );
}

// Theme template ------------------------------
@import "../../bower_components/reveal.js/css/theme/template/theme";
// ---------------------------------------------

.reveal .high-visibility-text {
  h1, h2, h3, h4, h5, h6, p {
    @include text-shadow(
      0 0 6px #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      2px 2px 0 #000
      );
  }
}

.reveal .tacc-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 0 0 215px;
  margin: .5em;
  background-image: url(../images/tacc-logo-white.png);
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 50px;
  z-index: 10;
}

.reveal .tacc-footer-header,
.reveal .tacc-footer-subheader {
  position: absolute;
  white-space: nowrap;
  padding-right: 12px;
  font-family: Lado, sans-serif;
  margin: 0;
  @include transform-style(preserve-3d);
  @include transition(
    transform-origin 800ms cubic-bezier(.26, .86, .44, .985),
    transform 800ms cubic-bezier(.26, .86, .44, .985),
    visibility 800ms cubic-bezier(.26, .86, .44, .985),
    opacity 800ms cubic-bezier(.26, .86, .44, .985)
    );
}

.reveal .tacc-footer-header {
  font-size: 1em;
  line-height: 1em;
  text-transform: uppercase;
  top: 0;
}

.reveal .tacc-footer-subheader {
  font-size: .7em;
  color: #aaa;
  bottom: 0;
}

.reveal.hide-wordmark .tacc-footer .tacc-footer-header,
.reveal.hide-wordmark .tacc-footer .tacc-footer-subheader {
  opacity: 0;
  @include transform(translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0));
}

.reveal .controls div.navigate-left {
  border-right-color: #eee;
  &.enabled {
    border-right-color: #ccc;
  }
}

.reveal .controls div.navigate-down {
  border-top-color: #eee;
  &.enabled {
    border-top-color: #ccc;
  }
}

.reveal .controls div.navigate-right {
  border-left-color: #eee;
  &.enabled {
    border-left-color: #ccc;
  }
}

.reveal .controls div.navigate-up {
  border-bottom-color: #eee;
  &.enabled {
    border-bottom-color: #ccc;
  }
}

.print-pdf {
  .reveal .tacc-footer {
    position: absolute;
  }

  .reveal .tacc-footer .tacc-footer-header,
  .reveal .tacc-footer .tacc-footer-subheader {
    display: none;
  }

  .reveal .slides > section:first-child .tacc-footer .tacc-footer-header,
  .reveal .slides > section:first-child .tacc-footer .tacc-footer-subheader,
  .reveal .slides > section:last-child .tacc-footer .tacc-footer-header,
  .reveal .slides > section:last-child .tacc-footer .tacc-footer-subheader {
    display: block;
  }
}
